@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

html {
  background: url(../images/bg3.jpg) rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  width: 100%;
  min-height: 100%;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.first-column,
.second-column {
  margin: auto;
}

.first-column img {
  display: flex;
  margin: 0 auto;
}

img {
  width: 400px;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  color: #FFF;
}

span {
  color: #093E7F;
}

h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin: 0 40px;
  color: #FFF;
}

.wait-list {
  text-align: center;
  margin-top: 30px;
}

.input-fields {
  width: 80%;
  height: 40px;
  border: none;
  background-color: rgba(222, 224, 224, .4);
  border-radius: 10px;
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 15px;
}

.input-fields:focus {
  outline: none;
}

.input-btn {
  width: 80%;
  height: 40px;
  border: none;
  background-color: #093E7F;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

#message {
  display: none;
  width: 80%;
  margin: auto auto 20px auto;
  font-weight: bold;
  color: green;
  padding: 8px;
  background-color: beige;
  border-radius: 10px;
  border-color: aquamarine;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}